<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Confirmation</title>
</head>
<body>
    <div class="confrim">
        <h1>Thank you for your post, <%= post.author %>!</h1>
        <p>Title: <%= post.title %></p>
        <p>Content: <%= post.content %></p>
        <br>
        <a href="/entries">View All Entries</a>
    </div>
</body>
</html>