<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>
</head>
<body>
    <h1>Create a New Post</h1>
    <form>
        <input type="text" id="name">
        <input type="text" id="subject">
        <textarea name="post" id="post"></textarea>
        <button action="submit"></button>
    </form>
</body>
</html>