<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Blog</title>
</head>
<body>
    <h1>Create a New Post</h1>
    <form action="/submit" method="POST">
        <input type="text" id="author" name="author" placeholder="">
        <input type="text" id="title" name="title" placeholder="">
        <textarea name="content" id="content" placeholder="Write something here"></textarea>
        <button action="submit">Submit</button>
    </form>
</body>
</html>