<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Blog</title>
</head>
<body>
    <h1>Create a New Post</h1>
    <form>
        <input type="text" id="author" name="author" placeholder="Name">
        <input type="text" id="title" name="title" placeholder="Title">
        <textarea name="content" id="content" placeholder="Write something here"></textarea>
        <button action="submit">Submit</button>
    </form>
</body>
</html>